/*style2

/* Eric Meyer CSS reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, textarea, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------end of Eric Meyer CSS reset-------------*/
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
	font-family: bookman old style, lucida sans typewriter, courier new, monospace;
	padding: 40px;
	/*background-color: white;*/
	background-image: url("../images/paper.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-rows: [h1-start] 2em 100px [header-start] 1fr [content-start] auto [footer-start] 200px;
	grid-template-columns: [headings1] 2em 240px [main] 1fr [links] 240px;
	grid-template-areas: "nav nav nav nav"
											 "h1 header header header"
											 "h1 main main links"
											 "footer footer footer footer"
}

header {
	grid-area: header;
}

/*banner {
	grid-area: banner;
	padding: 20px;
}*/


h1 {
	font-family: muli lucida sans typewriter, courier new, monospace;
	color: #edf3ef;
	color: black;
	font-size: 200%;
	line-height: 1em;
	text-align: center;
	grid-area: h1;
	padding: 20px;
}

h2 {
	font-family: muli lucida sans typewriter, courier new, monospace;
	color: #edf3ef;
	color: black;
	font-size: 150%;
	line-height: 1em;
	text-align: center;
	margin: auto;
	padding: 0 0 20px 0;
}


nav ul li a:link, nav ul li a:visited {
	color: black;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
	color: #808485;

}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li {
   font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
nav ul li a {
  display: block;
  border: 1px solid;
  border-radius: .5em;
  padding: .5em 1em;
  margin: .5em;
}
nav {
	grid-area: nav;
	background-color: rgb(225, 235, 232, .8);
}

ol {
	list-style-type: decimal;
	padding: 20px;
}

article {
	padding: 30px;
	grid-area: main;
	background-color: rgb(225, 235, 232, .8);
}

footer>p {
	margin: 20px 20%;
}

/*images*/
img {
	margin: 20px;
	max-width: 100%;
}

#top {
	/*max-height: 100%;
	max-width: none;*/
	margin: 0;
	object-fit: cover;
	padding: 0;
}

#right {
	width: 30%;
	float: right;
}

footer {
	font-family: lucida sans typewriter, courier new, monospace;
	background-color: black;
	background-color: rgb(180, 152, 129);
	background-color: rgba(180, 152, 129, .8);
	max-width: 100%;
	/*margin: 20px 25%;
	padding: 30px;*/
	grid-area: footer;
}
