

/* Eric Meyer CSS reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, textarea, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------- End of Eric Meyer CSS reset -------------*/

/*------------------- Header and Nav --------------------*/
header {
	grid-area: nav;
	background-color: rgb(66, 70, 94);
	margin-bottom: 60px;
	position: sticky;
	top: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

nav>ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 5px;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
	font-family: century gothic, helvetica new, sans-serif;
	text-shadow: 0 3px 2px rgb(7, 2, 2);
}

nav>ul>li{
	display: inline-block;
  font-size: 24px;
  padding: 5px;
  margin: 10px 5px 10px 5px;
}

nav>ul>li>a:hover {
	text-decoration: none;
	border-bottom: 3px solid;
	box-shadow: 0 3px 2px -2px rgb(7, 2, 2);
	color: rgb(206, 206, 197);
	color: rgba(206, 206, 197, .9);
	color: rgb(192, 102, 150);
	padding-bottom: 5px;
}

nav>ul>li>a{
	color: rgb(206, 206, 197);
	color: rgba(206, 206, 197, .9);
}

/*------------------ Body and grid -----------------*/
body {
	font-family: bookman old style, georgia, sans-serif;
	font-size: 125%;
	line-height: 1.4em;
	margin: 0;
	color: rgb(51, 61, 60);
	background-color: black;

}

.writer {
	background-color: rgb(209,66,66);
}
.writer, .web-developer, .exquisite-corpse {
	display: grid;
	grid-template-rows: 20px [nav begins] auto [main begins] 675px auto [footer begins] auto;
	grid-template-columns: 3fr 50% .75fr;
	grid-template-areas: ". . ."
											 "name nav ."
											 ". main ."
											 ". main ."
											 ". footer ."

}

.web-developer {
	background-color: rgb(91,75,164);
}



.about {
	display: grid;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -5;
	grid-template-rows: 20px auto auto auto auto;
	grid-template-columns: 3fr 50% .75fr;
	grid-template-areas: ". . ."
											 "name nav ."
											 ". main ."
											 ". main ."
											 ". footer ."
}
.about {
	background-image: url(../images/songsofthesky2.jpg);
}


/*----------------- Images ------------------------*/
img{
	max-width: 100%;
	height: auto;
}

figure {
	float: right;
	margin-bottom: 0;
	margin-top: 0;
  margin-left: 2.5%;
  width: 40%;
  min-width: 105px;
	font-size: 75%;
	text-align: center;
}

.writer-image {
	background-image: url(../images/typewriterclouds_small.jpg);
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 5;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.exquisite-corpse-image {
	background-image: url(../images/MovementHand.jpg);
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 5;
	background-repeat: no-repeat;
	background-size: cover;
}

.exquisite-corpse {
	background-color: #42D1D1;
}

.web-developer-image {
	background-image: url(../images/stieglitzequivalents-small.jpg);
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 5;
	background-repeat: no-repeat;
	background-size: cover;
}

.computer-image {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
}

.portfolio-image {
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	float: none;
}

.portfolio-image > figcaption {
	line-height: 1.5em;
	/*text-align: left;*/
	margin: 0 auto;
	font-size: 16px;
	width: 90%;
	font-style: italic;
}

/*---------------- Form and Fluencies List----------------------------*/

.error {
	color: #eb2a39;
}

blockquote {
	margin: 20px 10%;
}

textarea, input[type="text"], input[type="email"]{
	color: rgb(51, 61, 60);
	font-family: bookman old style, georgia, sans-serif;
	padding: 8px;
	margin-top: 8px;
	width: 100%;
}

form {
	margin: 30px 10%;
}

label {
	font-family: helvetica new, sans-serif;
	color: #6c6b36;
}

textarea {
	background-color:rgb(242, 244, 245);
	border: none;
	width: 100%;
	height: auto;
	font-size: 120%;
	padding: 8px;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: flex;
	padding: 0.5em 1em;
	border: 0.16em solid #fec25d;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-sizing: border-box;
	justify-content: center;
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	font-size: 120%;
	color: #543537;
	background-color: rgb(255, 214, 189);
	background-color: rgba(255, 214, 189, .5);
	text-align: center;
	transition: all 0.15s;
}
button:hover {
	color: #543537;
	border-color: #5b5045;
}
button:active {
	color:#ffb86b;
	border-color:#ffb86b;
}

.fluencies {
	list-style-type: circle;
}
/*------------------ Paragragh, article, headlines ------------------*/

p {
	color: rgb(51, 61, 60);
	margin: 20px 10%;
}

.lastLine {
	border: 3px dashed #42D1D1;
	border-radius: 3px;
	padding: 5px;
}

article {
	background-color: rgb(206, 206, 197);
	background-color: rgba(206, 206, 197, .9);
	padding: 30px;
	grid-area: main;
	border-radius: 10px;
}

.article-exquisite-corpse {
	background-color: rgb(206, 206, 197, .95);
}

h1 {
	font-family: Haettenschweiler, impact, georgia, sans-serif;
	font-family: 'Cutive Mono', monospace;
	font-family: 'Major Mono Display', monospace;
	color: #eb2a39;
	color: #f69e59;
	background-color: rgba(223,57,113,.9);
	font-size: 40px;
	line-height: 1em;
	text-shadow: 2px 2px 10px #472336;
	text-shadow: 1px 2px 2px black;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

h2 {
	font-family: helvetica new, sans-serif;
	color: #472336;
	font-size: 200%;
	line-height: 1em;
	max-width: 100%;
}

h3 {
	font-family: helvetica new, sans-serif;
	font-size: 125%;
	color: #6c6b36;
	line-height: 1em;
}

.name {
	grid-area: name;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 20px;*/
	z-index: 100;
	margin-top: 5px;
}

.web-developer-name > h1{
	color: rgb(223,57,113);
	z-index: 999;
	background-color: rgba(246, 157, 89, .9);
	/*transform: rotate(-5deg);*/
	/*line-height: .7em;*/
	/*font-size: 50px;*/
}

/*.web-developer-name {
	margin-top: 20%;
	margin-left: 47%;
}*/

.writer-name>h1 {
	color:#d02f5e;
	color: white;
	background-color: rgba(91, 151, 125, .9);
}
.exquisite-name>h1 {
	color: #d02f5e;
	color: #5b977d;
	background-color: white;
}
/*------------------------ Links -----------------------*/

i, #regLink, a {
	color: #43465f;
}

li, dl {
	margin: 20px 10%;
}

#regLink:hover {
  text-decoration: underline;
}
.fas{
	color: rgb(253,155,140);
	color: rgba(253,155,140,.7);
	color: rgb(209, 66, 66);
}
a:link {
  text-decoration: none;
}

a, #regLink:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
	color: #43465f;
}

a:active {
  text-decoration: underline;
}

/*--------------------------- Footer ---------------------------*/

footer{
	font-size: 75%;
	background-color: rgb(253,155,140);
	background-color: rgba(253,155,140,.7);
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
	grid-area: footer;
	border-radius: 10px;
}

/*----------------------- Media queries ---------------------------*/

@media all and (max-width:30em){
	button {
		display:block;
		margin:0.4em auto;
	}
}

@media only screen and (min-width: 1500px) {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media only screen and (max-width: 1200px) {
	.web-developer-name > h1 {
		font-size: 50px;
	}
}


@media only screen and (max-width: 800px) {
	.writer, .web-developer, .exquisite-corpse, .about {
		display: inline-block;
	}

	header {
		margin: 10px 10%;
	  padding: 10px;
	}

	.name {
		display: none;
	}

	.computer-image {
		display: none;
	}

	body, form {
  	padding: 0;
		font-size: 100%;
	}

	body {
		margin: 0;
	}

	form {
		margin: 10px 5%;
	}

	h1 {
		font-size: 150%;
	}

	h2 {
		text-shadow: none;
		font-size: 120%;
	}

	h3 {
		font-size: 100%;
	}

	article {
		margin: 10px 10% 40px 10%;
		padding: 20px;
	}

	footer {
		display: none;
	}
}

@media only screen and (max-width: 650px) {
	figure {
		display: block;
		float: none;
		width: auto;
		margin-top: 20px;
		margin-left: none;
	}
}
@media only screen and (max-width: 320px) {

		figure {
			float: none;
			margin-bottom: 5px;
			margin-top: 15px;
			margin-left: auto;
			margin-right: auto;
		}
		figcaption {
			display: none;
		}
}
